<div class="container">
    <h1>Editar Algum Produto</h1>
   
    <a href="#" routerLink="/produto/index" class="btn btn-primary">Voltar</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input 
                formControlName="nome"
                id="nome" 
                type="text" 
                [(ngModel)]="produto.nome"
                class="form-control">
            <div *ngIf="f['nome'].touched && f['nome'].invalid" class="alert alert-danger">
                <div *ngIf="f['nome'].errors && f['nome'].errors['required']">Nome é requerido.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="descricao">Descrição:</label>
            <textarea 
                formControlName="descricao"
                id="descricao" 
                type="text" 
                [(ngModel)]="produto.descricao"
                class="form-control">
            </textarea>
            <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
                <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">Descrição é requerido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="preco_kg">Preço do kg:</label>
            <textarea
                formControlName="preco_kg"
                id="preco_kg"
                type="text"
                [(ngModel)]="produto.preco_kg"
                class="form-control">
            </textarea>
            <div *ngIf="f['preco_kg'].touched && f['preco_kg'].invalid" class="alert alert-danger">
                <div *ngIf="f['preco_kg'].errors && f['preco_kg'].errors['required']">Preço do kg é requerido.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="estoque">Estoque:</label>
            <textarea
                formControlName="estoque"
                id="estoque"
                type="text"
                [(ngModel)]="produto.estoque"
                class="form-control">
            </textarea>
            <div *ngIf="f['estoque'].touched && f['estoque'].invalid" class="alert alert-danger">
                <div *ngIf="f['estoque'].errors && f['estoque'].errors['required']">estoque é requerido.</div>
            </div>
        </div>
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Atualizar</button>
    </form>
</div>