<div class="container">
    <h1>Listar Produto</h1>
  
    <a href="#" routerLink="/produto/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ produto.id }}</p>
    </div>
   
    <div>
        <strong>Nome:</strong>
        <p>{{ produto.nome }}</p>
    </div>
   
    <div>
        <strong>Descrição:</strong>
        <p>{{ produto.descricao }}</p>
    </div>

    <div>
        <strong>Preço do Kg:</strong>
        <p>{{ produto.preco_kg }}</p>
    </div>

    <div>
        <strong>Estoque:</strong>
        <p>{{ produto.estoque }}</p>
    </div>
   
</div>