<div class="container">
    <h1>Create New Produto</h1>
  
    <a href="#" routerLink="/produto/index" class="btn btn-primary">Back</a>
        
    <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="nome">nome:</label>
            <input 
                formControlName="nome"
                id="nome" 
                type="text" 
                class="form-control">
            <div *ngIf="f['nome'].touched && f['nome'].invalid" class="alert alert-danger">
                <div *ngIf="f['nome'].errors && f['nome'].errors['required']">nome is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="descricao">descricao</label>
            <textarea 
                formControlName="descricao"
                id="descricao" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f['descricao'].touched && f['descricao'].invalid" class="alert alert-danger">
                <div *ngIf="f['descricao'].errors && f['descricao'].errors['required']">descricao is required.</div>
            </div>
        </div>
  
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>